$borderColor: #f3e7f3;
$backgroundColor: #ffffff;
$color: #f3e7f3;
$labelColor: #4a154b;

.step-wrapper{
    @apply relative z-10;
    .step-style{
        @apply w-[40px] h-[40px] rounded-[50%] border-solid border-[3px] flex justify-center items-center;
        border-color: $borderColor;
        background-color: $backgroundColor;
        .step-count{
            @apply text-[19px];
            color: $color;
        }
    }
    .step-label-container{
        @apply absolute top-[66px] left-[50%] -translate-x-[50%] -translate-y-[50%];
        .step-label{
            @apply text-[19px];
            color: $labelColor;
        }
    }
}